
body{
    box-sizing: border-box;
    
}

nav{
    background-color: #7F1734 ;
    height: 25vh;
    position: sticky;
   
}
.nav-item {
    vertical-align: middle;
    text-align: center;
    color: yellowgreen;
    padding-bottom: 0px;
    padding-top: 30px;
}

.main-content {
    margin-top: 30px;
    margin-bottom: 30px;
    color:black;
   
}
.main-content p {
    font-size: x-large;
}

.form-content p {
    text-align: center;
}
.gender-section {
    margin-top: 30px;
}
.gender-section input {
    margin: 20px;
}

.submit, .reset{
    height: 40px;
    width: 100px;
    margin-top: 30px;
    color: yellowgreen;
    background-color: #7F1734;
    border: none;
    border-radius: 5px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
