body{
    box-sizing: border-box;
    /* background-image: url("../images/ghana.jpg");
    background-repeat: no-repeat;
    background-size: cover; */


}
nav{
    background-color: #7F1734 ;
    height: 25vh;
    position: sticky;
   
}
.nav-item {
    vertical-align: middle;
    text-align: center;
    color: yellowgreen;
    padding-bottom: 0px;
    padding-top: 30px;
}
.main-content {
    margin-top: 30px;
}
.main-content p {
    font-size: x-large;
}
#p-form {
    text-align: center;
}
span {
    font-weight: 500;
}